.category__card__wrapper{
    width : 20rem;
    max-height : 35rem;    
    background-color: var(--md-background-color);
    border-radius: 10px 10px 0 0;
}

.category__card__wrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.img__container {
    max-width: 100%;
    height: 18rem;
}
  
.img-responsive {
    max-inline-size: 100%;
    block-size: 100%;
    aspect-ratio: 2/1;
    object-fit: fill;
    object-position: top center;
}