.password-field {
    position: relative;
  }
  
  .password-field input[type="password"] {
    padding-right: 2rem;
  }
  
  .password-icon {
    position: absolute;
   right: .3rem;
   bottom: 0.3rem;
  }